---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import PlotlyChart from "../components/PlotlyChart.astro";
---
<!doctype html>
<html>
<Header title="Buchs / Aarau" />
<body>
    <div class="content">
    <Sidebar selectedItem="buchs-aarau" />
    <nav class="main">
        <div class="container">
        <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
            ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
            />
            <div>Back</div></a
            >
        </div>
        <div class="content-container">
            <h1>Buchs / Aarau</h1>
            <section class="items-container">
            <h3>Psychometric</h3>
            <PlotlyChart dataPath="/data/BUS/psych_chart.json" chartId="BUS-psych" />
            <h3>Temperature</h3>
            <PlotlyChart dataPath="/data/BUS/hourly_chart.json" chartId="BUS-hourly"/>
            <h3>Wind</h3>
            <PlotlyChart dataPath="/data/BUS/wind_chart.json" chartId="BUS-wind"/>
            </section>
        </div>
        </div>
    </nav>
    </div>

</body>
</html>
        