---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html>
  <Header title="Weather Charts" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Swiss Weather Charts 2035</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <a href="mailto:bit@bitenergie.ch	" class="button w-button"
              >Contact</a
            >
          </main>
          <div class="projects-section">
            <!-- Software Development -->
            <div class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img
                    src="./assets/browser.svg"
                    loading="lazy"
                    alt=""
                    class="projects-category-image"
                  />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Data</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">
                    Weather Data Source
                  </div>
                  <div class="chips-container chips-container-small-width">
                                  <div class="single-chip small-chip">
                      Federal Office of<br>Meteorology and Climatology<br>MeteoSwiss
                    </div>
                    <a
                      class="single-chip small-chip"
                      href="https://www.meteoschweiz.admin.ch/klima/klimawandel/schweizer-klimaszenarien/klimaszenarien-raumklima.html"
                      target="_blank"
                      rel="noreferrer">Data Source</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- DevOps & Cloud -->
            <div  class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container devops-img">
                  <img
                    src="./assets/database.svg"
                    loading="lazy"
                    alt=""
                    class="projects-category-image"
                  />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Software</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">
                    Technologies &amp; tools
                  </div>
                  <div class="chips-container chips-container-small-width">

                    <a
                      class="single-chip small-chip"
                      href="https://www.ladybug.tools/"
                      target="_blank"
                      rel="noreferrer">Ladybug tools</a
                    >
                    <a
                      class="single-chip small-chip"
                      href="https://plotly.com/"
                      target="_blank"
                      rel="noreferrer">plotly</a
                    >
                    <a
                      class="single-chip small-chip"
                      href="https://github.com/danielunited/codefolio"
                      target="_blank"
                      rel="noreferrer">Sam Bernstein</a
                    >

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
