---
const STATION_NAME = [
  "Adelboden",
  "Aigle",
  "Altdorf",
  "Basel / Binningen",
  "Bern / Zollikofen",
  "Buchs / Aarau",
  "Bullet / La Frétaz",
  "Chur",
  "Col du Grand St-Bernard",
  "Davos",
  "Disentis",
  "Engelberg",
  "Genève / Cointrin",
  "Glarus",
  "Güttingen",
  "Interlaken",
  "La Chaux-de-Fonds",
  "Locarno / Monti",
  "Lugano",
  "Luzern",
  "Magadino / Cadenazzo",
  "Montana",
  "Neuchâtel",
  "Payerne",
  "Piotta",
  "Poschiavo / Robbia",
  "Pully",
  "Rünenberg",
  "S. Bernardino",
  "Samedan",
  "Schaffhausen",
  "Scuol",
  "Sion",
  "St. Gallen",
  "Ulrichen",
  "Vaduz",
  "Wynau",
  "Zermatt",
  "Zürich / Affoltern",
  "Zürich / Fluntern",
  "Zürich / Kloten",
];

const { selectedItem } = Astro.props;
const slugify = (s) =>
  s
    .toLowerCase()
    .normalize("NFKD")
    .replace(/\s*\/\s*/g, "-") // turn " / " into -
    .replace(/\s+/g, "-") // spaces -> -
    .replace(/[^\w-]/g, "");
---

<aside
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="sidebar w-nav"
>
  <div class="nav-content">
    <a href="/" class="w-nav-brand" aria-label="home">
      <div class="niv-data">
        <img
          src="https://www.bitenergie.ch/_astro/favicon.CDLWUa1e_ZNdbdy.svg"
          loading="eager"
          alt="Profile picture"
          class="niv-image"
        />
        <div>
          <div class="label-white">Bitenergie</div>
          <div class="label-gray">Swiss Weather Charts 2035</div>
        </div>
      </div>
    </a>

    <nav role="navigation" class="w-nav-menu" style="overflow: auto;">
      <a
        href="/"
        class={`nav-link-container w-inline-block ${
          selectedItem === "home" ? "w--current" : ""
        }`}
      >
        <img
          src="/assets/home.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Home</div>
      </a>

      {
        STATION_NAME.map((name) => (
          <a
            target="_parent"
            rel="noreferrer"
            href={`/${slugify(name)}`}
            class={`nav-link-container w-inline-block ${
              selectedItem === slugify(name) ? "w--current" : ""
            }`}
          >
            <img
              src="/assets/cloud.svg"
              loading="eager"
              alt=""
              class="nav-link-image"
            />
            <div>{name}</div>
          </a>
        ))
      }
    </nav>

    <div
      class="navbar-icon-button w-nav-button"
      style="-webkit-user-select: text;"
      aria-label="menu"
      role="button"
      tabindex="0"
    >
      <img src="/assets/menu.svg" loading="eager" alt="" class="navbar-icon" />
    </div>
  </div>

  <script>
    import { setupNav } from "../scripts/nav.js";

    let cleanup;
    document.addEventListener("astro:page-load", () => {
      if (cleanup) cleanup();
      cleanup = setupNav();
    });

    document.addEventListener("astro:before-swap", () => {
      if (cleanup) cleanup();
    });
  </script>
</aside>
